<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosmos | Panel</title>
</head>
<body>
    <% if (userIsAuth) { %>
        <%- include('./parts/sidebar.ejs') %> 
    <% } else { %>
        <%- include('./parts/authorization.ejs') %> 
    <% } %> 
</body>
</html>