@import '../../public/icons/css/all.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212121;
  color: white;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body, .site-body {
  width: 100%;
  height: 100%;
}

.loading-page {
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loading-page i {
  color: #5a05bb;
}

.error-window {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.error-window h2, .error-window p, .error-window button {
  width: max-content;
  background: rgba(0, 0, 0, 0);
  width: 100%;
}
.error-window h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  border-bottom: 1px solid white;
}
.error-window p {
  flex: 3;
}
.error-window button, .error-window h2 {
  flex: 1;
}
.error-window button {
  border: 0px;
  outline: none;
  border-top: 1px solid white;
}
.error-window p {
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: auto;
}
