<article class="auth">
    <section class="auth_logo">
        <h1>Регистрация</h1>
    </section>
    <section>
        <form id="auth_form" class="auth_form">
            <section class="auth_form_main">
                <div>
                    <input type="text" name="login" id="login" value="Придумайте логин">
                    <input type="password" name="password" id="password" value="Придумайте пароль">
                </div>
                <div>
                    <input type="text" name="lesyaId" id="lesyaId" value="ID из Lesya">
                    <input type="text" name="lesyaNick" id="lesyaNick" value="Ник из Lesya">
                </div>
            </section>
            <section>
                <input type="text" name="vkId" id="vkId" value="Ваш ID VK">
            </section>
            <section>
                <input type="submit" value="Регистрация">
            </section>
        </form>
    </section>
</article>