<article class="auth">
    <section class="auth_logo">
        <i class="far fa-planet-ringed"></i>
        <h1>Регистрация</h1>
    </section>
    <section>
        <form id="auth_form" class="auth_form">
            <section class="auth_form_main">
                <div>
                    <input type="text" name="login" id="login" placeholder="Придумайте логин">
                    <input type="password" name="password" id="password" placeholder="Придумайте пароль">
                </div>
                <div>
                    <input type="text" name="lesyaId" id="lesyaId" placeholder="ID из Lesya">
                    <input type="text" name="lesyaNick" id="lesyaNick" placeholder="Ник из Lesya">
                </div>
            </section>
            <section class="vkId">
                <div>
                    <input type="text" name="vkId" id="vkId" placeholder="Ваш ID VK">
                </div>
            </section>
            <section class="auth_send">
                <div>
                    <input type="submit" value="Регистрация">
                </div>
            </section>
        </form>
    </section>
</article>