*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: white;
}

ul, ol, li{ list-style: none; }
a{ text-decoration: none; }

html, body{
    width: 100%;
    height: 100%;
}

@import '../../public/icons/css/all.css';
@import './parts/auth.scss';